<div th:fragment="footer">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <footer>
               <div class="container">
                  <div class="row">
                     <div class="col-lg-8 col-md-10 mx-auto">
                        <p class="copyright text-muted">
                           Copyright &copy; BLOCK CK 2022
                        </p>
                     </div>
                  </div>
               </div>
            </footer>
         </div>
      </div>
   </div>
</div>