<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="includes/header"></head>

  <body>
    <!-- NAVBAR -->
    <div th:replace="includes/navbar"></div>

    <!-- Page content-->
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-8" >
          <!-- All posts -->
          <div th:each="post : ${allPosts}">
            <article class="card mb-4">
              <!-- Post header-->
              <header class="card-header pb-2">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1" th:text="${post.titulo}"></h1>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2" th:text="'Post feito por ' + ${post.usuario.nome}"></div>
                <!-- Post categories-->
                <a class="badge bg-secondary text-decoration-none link-light" href="#!" th:text="${post.categoria.nome}"></a>
              </header>
  
              <!-- Post body-->
              <div class="card-body">
                <figure class="mb-4">
                  <!-- Preview image figure-->
                  <img class="img-fluid rounded" th:src="@{${'post-fotos/' + post.foto}}" />
                </figure>
              </div>
  
              <!-- Post footer -->
              <div class="card-footer pb-2 pt-2">
                <a th:href="@{/post/delete(id=${post.idPost})}" class="btn btn-danger" th:if="${info_usuario != null && info_usuario.perfilAcesso.tipo != null && info_usuario.perfilAcesso.tipo == 'Admin'}">Apagar &rarr;</a>
                <a th:href="@{/post/update(id=${post.idPost})}" class="btn btn-warning" th:if="${info_usuario != null && info_usuario.perfilAcesso.tipo != null && info_usuario.perfilAcesso.tipo == 'Admin'}">Editar &rarr;</a>
                <a th:href="@{'/post/' + ${post.idPost}}" class="btn btn-primary">Ler &rarr;</a>
              </div>
            </article> 
          </div>
                  

        </div>

        <!-- Categories widget-->
        <div class="col-lg-4">
          <div class="card mb-3">
            <div class="card-header">Categorias</div>
            <div class="card-body">
              <div class="row">
                  <ul class="list-unstyled mb-0" th:each="categoria : ${allCategorias}">
                    <li><a href="#!" th:text="${categoria.nome}"></a></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:replace="includes/footer">

    <!-- Bootstrap core JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
